html {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Public Sans', sans-serif;
  background-color: hsl(0, 0%, 98%);
}

body {
  background-color: hsl(0, 0%, 98%);
  font-size: 18px;
}

.info {
  color: white;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  font-size: 14px;
  position: absolute;
  width: 163px;
  height: 44px;
  left: 1112px;
  top: 18px;
}
.phones::before {
  background-image: url('./images/image-mockups.png'); /* with class ModalCarrot ??*/
  background-size: no-repeat;
  width: 400px;
  height: 400px;
  position: relative;
  margin-left: 450px;
  margin-top: -440px;
  z-index: 100;
}

.info-2 {
  font-size: 14px;
  color: white;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  width: 163px;
  height: 44px;
}

.first-page {
  overflow: hidden;
}

.info-3 {
  font-size: 14px;
  color: white;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  width: 163px;
  height: 44px;
}
nav {
  z-index: 10;
  height: 80px;
}

.container-fluid {
  padding-top: 50px;
  padding-left: 165px;
  background-color: hsl(233, 26%, 24%);
  font-size: 14px;
  font-weight: 300;
}

.hero .container {
  margin-top: 150px;
}

.hero .container h1 {
  font-size: 50px;
}

.hero p {
  height: 84px;
  left: 0%;
  right: 0%;
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  line-height: 36px;
  /* or 156% */
  letter-spacing: -0.28125px;
  color: #9597a5;
  font-weight: 100;
}

.container {
  height: 100wh;
}
.container h1 {
  height: 128px;
  left: 0%;
  right: 10.29%;
  top: calc(50% - 128px / 2 - 94px);
  font-family: 'Public Sans', sans-serif;
  font-size: 40px;
  padding-top: 80px;
  line-height: 64px;
  /* or 114% */
  font-weight: lighter;
  letter-spacing: 0.1px;
  color: rgb(82, 79, 79);
  margin-bottom: 25px;
}

.container p {
  margin-bottom: 70px;
}

.second-page .container p {
  padding-top: 32px;
  font-size: 14px;
}

.container h2,
.container h3 {
  left: 0%;
  right: 10.29%;
  top: calc(50% - 128px / 2 - 94px);
  font-family: 'Public Sans', sans-serif;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 5px;
  /* or 114% */
  font-weight: 300;

  color: #2d314d;
  opacity: 1;
  z-index: 5;
}

.container p {
  color: hsl(233, 8%, 62%);
}

.phones {
  position: absolute;
  width: 732px;
  height: 901px;
  left: 820px;
  top: -42px;
  z-index: 2;
}

.intro {
  position: absolute;
  margin-top: -430px;
  margin-left: 670px;
  z-index: 1;
}

.nav-item {
  padding-left: 30px;
  font-size: 14px;
}

.navbar-brand {
  position: absolute;
  width: 139px;
  height: 20px;
  left: 165px;
  top: 30px;
}

.second-page {
  margin-top: 170px;
  background-color: hsl(220, 16%, 96%);
}

.third-page h1 {
  margin-bottom: 50px;
}
.third-page h3 {
  font-size: 14px;
  width: 80%;
}

.third-page p {
  font-size: 12px;
  width: 80%;
}

.third-page .container.row {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}

.icons {
  margin-bottom: 20px;
}
.icons img {
  padding: 5px;
}

.about .request-bar {
  float: right;
  margin-top: -95px;
}

.about p {
  float: right;
  margin-top: -25px;
  margin-right: 110px;
  color: white;
  font-size: 12px;
}

.about p a {
  text-decoration: none;
  color: white;
}

/*Mobile*/
@media only screen and (max-width: 850px) {
  .body {
    overflow: hidden;
  }
  .phones {
    position: absolute;
    width: 327px;
    height: 402px;
    left: 10px;
  }
  .hero .container h1 {
    font-size: 38px;
    padding-top: 120px;
    width: 90%;
    line-height: normal;
    text-align: center;
    max-width: 100%;
  }

  .hero p {
    line-break: loose;
    margin-top: 0;
    text-align: center;
    max-width: 100%;
  }
  .intro {
    position: absolute;
    right: -800px;
    top: -180px;
    z-index: 0;
  }
  .info-2 {
    margin-left: 60px;
  }

  .navbar-brand {
    left: 20px;
  }

  .navbar-toggler {
    margin-left: 230px;
  }

  .second-page .container h1 {
    text-align: center;
  }
  .second-page .container p {
    margin-top: 0px;
    text-align: center;
    padding-top: 0;
  }

  #title_2 {
    padding-top: 50px;
  }

  .container-fluid {
    padding: 0;
  }
  .container h2 {
    text-align: center;
  }

  .second-page img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .container-fluid.col-2 {
    padding-left: 30px;
  }

  .third-page h3,
  .third-page p {
    width: 90%;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .third-page h1 {
    line-height: 1em;
    text-align: center;
    white-space: nowrap;
  }
  .third-page .container {
    width: 250px;
    margin-left: 40px;
    margin-right: auto;
  }
  .info-2 {
    display: hidden;
  }
}

/*Ipad*/
@media (min-width: 601px) and (max-width: 1000px) {
  .phones {
    position: absolute;
    left: 550px;
    top: -42px;
  }

  .intro {
    position: absolute;
    left: 150px;
    top: 70px;
    z-index: 0;
  }
}
